/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
  display: flex;
  flex-direction: column; /* Make the body a flex container with a column layout */
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
header {
  background-color: blueviolet;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding:  95px;
}

section {
  flex: 1; 
  display: flex;
  margin:  10%;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
  text-align: center;
  margin-top: 0; 
  color: #0077b5;
}

section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  width: 100%; 
  height: 100%;
  color: #c32aa3;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1da1f2;
}

form input[type="text"],
form input[type="password"] {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button[type="submit"] {
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form p {
  margin-top: 10px;
  color: #0077b5;
}

form p a {
  color: #eb6969;
  text-decoration: none;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-top: auto; 
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; 
}

.footer-content p {
  margin: 0;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  margin-right: 30px;
}
.footer-social a.facebook {
  color: #3b5998; 
}

.footer-social a.twitter {
  color: #1da1f2; 
}

.footer-social a.instagram {
  color: #c32aa3;
}

.footer-social a.linkedin {
  color: #0077b5; 
}

  